
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pysvihmm.iml
.idea/vcs.xml
.vs/ProjectSettings.json
.vs/pysvihmm/v16/.suo
.vs/pysvihmm/v16/Browse.VC.db
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
.vscode/settings.json
__pycache__/hmmbase.cpython-38.pyc
__pycache__/hmmbatchcd.cpython-38.pyc
__pycache__/hmmbatchsgd.cpython-38.pyc
__pycache__/hmmsgd_metaobs.cpython-38.pyc
__pycache__/munkres.cpython-38.pyc
__pycache__/util.cpython-38.pyc
build/temp.win-amd64-2.7/Release/fdr.exp
build/temp.win-amd64-2.7/Release/fdr.lib
build/temp.win-amd64-2.7/Release/fdr.obj
build/temp.win-amd64-2.7/Release/fdr.pyd.manifest
build/temp.win-amd64-2.7/Release/hmm_fast.exp
build/temp.win-amd64-2.7/Release/hmm_fast.lib
build/temp.win-amd64-2.7/Release/hmm_fast.obj
build/temp.win-amd64-2.7/Release/hmm_fast.pyd.manifest
build/temp.win-amd64-3.8/Release/fdr.cp38-win_amd64.exp
build/temp.win-amd64-3.8/Release/fdr.cp38-win_amd64.lib
build/temp.win-amd64-3.8/Release/fdr.obj
build/temp.win-amd64-3.8/Release/hmm_fast.cp38-win_amd64.exp
build/temp.win-amd64-3.8/Release/hmm_fast.cp38-win_amd64.lib
build/temp.win-amd64-3.8/Release/hmm_fast.obj
cluster/experiment.pyc
CppProperties.json
gen_synthetic.pyc
hmmbase.pyc
hmmbatchcd.pyc
hmmbatchsgd.pyc
hmmsgd_metaobs.pyc
munkres.pyc
pybasicbayes
util.pyc
pybasicbayes
